.container{
  display: flex;
}

.formContainer{
  display: flex;
  flex: 1;
}

.input{
  flex: 1;
  font-size: 20px;
  padding: 12px;
  border: 1px solid #c0c0c0;
  border-radius: 4px 0 0 4px;
}

.enter{
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-left: 0;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}